body {
    font-family: 'Arial', sans-serif;
}

#map {
    height: 500px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.card {
    border-radius: 10px;
}

#history {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
